.workexperience-section {
  margin-top: 50px;
}

.timeline-section {
  margin-top: 10px;
  /* margin-left: 80px; */
}

@media screen and (min-width: 1000px) {
  .timeline-section {
    margin-left: 12%;
  }
}

.tech-skills p {
  background-color: black;
  border-radius: 90px;
  color: white;
  padding: 5px;
  text-align: center;
}
.tech-skills p:hover {
  background-color: gold;
  cursor: pointer;
  color: black;
}

.date-class {
  color: black;
}

#dark .date-class {
  color: white;
}
